body {
  background-color: #86a69d;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

h1 {
  text-align: center;
  background-color: #f2b263;
  box-shadow: #f2b263;
}

nav > a {
  margin: 10px;
  text-decoration: none;
}

nav > a:hover {
  text-decoration: underline;
}
